body {
  background-color: #f7f7f7;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><rect fill="%23f7f7f7" width="100" height="100"/><path d="M0,0 Q25,25 50,0 T100,0 L100,100 Q75,75 50,100 T0,100 Z" fill="%23ffffff" opacity="0.1"/></svg>');
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
